article {
  margin: 2em;
  max-width: 90vw;
  min-height: 70vh;
  line-height: 1.5;
}

.article-date,
.article-author {
  display: inline;
}

article pre {
  padding: 2em;
  background-color: var(--code-background-color);
  border-radius: 1em;
  max-width: 100%;
  box-sizing: border-box;
  margin: 2em 0.2em;
  white-space: pre-wrap;
}

article > form {
  margin-top: 6em;
  border-top: 1px solid var(--border-color);
  padding-top: 1em;
}
article > form > .input-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0.5em;
  box-sizing: border-box;
  align-items: center;
}

article > form > .input-container > input,
article > form > .input-container > textarea {
  width: 100%;
  max-width: 20em;
  border: 1px solid var(--border-color);
  border-radius: 0.5em;
  padding: 0.6em;
  background-color: var(--input-background-color);
  color: inherit;
}
article > form > .input-container > textarea {
  max-width: 50em;
}
article > form > input[type="submit"] {
  padding: 1em;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 0.5em;
  color: inherit;
}
article > form > input[type="submit"]:hover {
  background-color: var(--button-hover-color);
}

.image-center {
  text-align: center;
  padding: 1em;
}

article iframe {
  max-width: 100%;
}
