.nav-menu-container {
  position: sticky;
  top: 0;

  background-color: #ffffffcc;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

nav.nav-menu {
  display: flex;

  align-items: center;
  justify-content: space-between;

  margin: 0em 1em;
  padding: 0.5em 0em;
  box-sizing: border-box;

  border-bottom: 1px solid #0f172a1a;
}

nav.nav-menu li {
  display: inline-block;
  list-style-type: none;
}

.nav-menu-title {
  font-weight: bold;
  text-decoration: none;
}
.nav-menu-title:visited {
  color: inherit;
}
