.sidebar {
  position: relative;

  width: 12em;
  /*float: left;*/
  margin: 2em;
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
}
.sidebar aside {
  position: sticky;
  top: 5em;

  border-right: 1px solid var(--border-color);
  padding: 1em 0em;
}

/* sm breakpoint */
@media screen and (max-width: 640px) {
  .sidebar {
    width: 100%;
    margin: 0;
    padding: 1em;
  }
  .sidebar aside {
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    padding: 1em;
  }
}
/* md breakpoint */
@media screen and (min-width: 768px) {
}
/* lg breakpoint */
@media screen and (min-width: 1024px) {
}
/* xl breakpoint */
@media screen and (min-width: 1280px) {
}
/* 2xl breakpoint */
@media screen and (min-width: 1536px) {
}
