@import "css/navigation.css";
@import "css/article.css";
@import "css/footer.css";
@import "css/sidebar.css";
@import "css/highlight.css";
@import "css/highlight-dark.css" screen and (prefers-color-scheme: dark);

@import "css/Inter/inter.css";

:root {
  --background-color: #ffffff;
  --menu-background-color: #ffffffcc;
  --code-background-color: #f2f1f1;
  --border-color: #cdcdcd;
  --link-color: #008b8b;
  --link-visited-color: #1e4044;
  --link-hover-color: #3388de;
  --input-background-color: #fafafa;
  --button-hover-color: #f6e8e0;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a:visited {
  color: var(--link-visited-color);
}
a:hover {
  text-decoration-line: underline;
  color: var(--link-hover-color);
}

h1::before,
h2::before,
h3::before {
  display: block;
  content: "";
  height: 4em;
  margin: -4em 0 0;
}

code,
samp,
kbd {
  padding: 0.3em;
  border-radius: 0.3em;
  background-color: var(--code-background-color);
}
kbd {
  padding: 0.4em;
  border-bottom: 1px solid var(--border-color);
}

table,
tr,
th {
  border: 2px solid var(--border-color);
  border-collapse: collapse;
}

th,
tr {
  padding: 5px;
}

th {
  text-align: left;
}

.fb-comments {
  border-style: solid;
  background-color: white;
  border-color: gray;
}

/* sm breakpoint */
@media screen and (min-width: 640px) {
  .main-container {
    flex-direction: row;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: #1b1b1b;
    --menu-background-color: #1b1b1bcc;
    --code-background-color: #343434;
    --border-color: #4b4a4a;
    --link-color: #62a777;
    --link-visited-color: #d3eed3;
    --link-hover-color: #3388de;
    --input-background-color: #282828;
    --button-hover-color: #2c1e31;

    color: #ffffff;
  }
}
